.TodoItem {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 24px;
  color: #4d4d4d;
  padding: 10px;
  border-bottom: 0.5px solid #ccc;
  display: flex;
  text-align: unset !important;
  display: flex;
  justify-content: space-between;
}

.TodoItem > p {
  word-break: break-all;
  margin: 0;
  width: 320px;
  color: black;
}

.TodoItem .btn {
  margin-left: 10px;
}
.TodoItem-complete {
  text-decoration: line-through;
  opacity: 0.3;
}

@media only screen and (max-width: 768px) {
  .todo-block {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 440px) {
  .todo-block {
    padding: 0 !important;
  }
  .action-button {
    display: grid !important;
  }
}
