.Todo {
  font-weight: 300;
  font-size: 24px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
}

.Todo .button-todo {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}

.Todo .button-todo .btn {
  font-size: 24px;
  font-weight: 300;
}

.Todo .header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.Todo .header .btn-edit {
  width: 150px;
}

.Todo .header input {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 24px;
  border: none;
  width: 100%;
  /* padding-left: 30px; */
}

.Todo .header input:focus {
  outline: none;
}

.Todo-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Todo-logo {
    animation: Todo-logo-spin infinite 20s linear;
  }
}

.Todo-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Todo-link {
  color: #61dafb;
}

@keyframes Todo-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
